//Stylesheet

@import theme/variables

//Vendors
//Foundation
@import settings
@import ../../files/bower_components/foundation/scss/normalize
@import ../../files/bower_components/foundation/scss/foundation/functions
@import ../../files/bower_components/foundation/scss/foundation/components/grid
@import ../../files/bower_components/foundation/scss/foundation/components/accordion
@import ../../files/bower_components/foundation/scss/foundation/components/alert-boxes
@import ../../files/bower_components/foundation/scss/foundation/components/block-grid
@import ../../files/bower_components/foundation/scss/foundation/components/breadcrumbs
@import ../../files/bower_components/foundation/scss/foundation/components/button-groups
@import ../../files/bower_components/foundation/scss/foundation/components/buttons
@import ../../files/bower_components/foundation/scss/foundation/components/clearing
@import ../../files/bower_components/foundation/scss/foundation/components/dropdown
@import ../../files/bower_components/foundation/scss/foundation/components/dropdown-buttons
@import ../../files/bower_components/foundation/scss/foundation/components/flex-video
@import ../../files/bower_components/foundation/scss/foundation/components/forms
@import ../../files/bower_components/foundation/scss/foundation/components/inline-lists
@import ../../files/bower_components/foundation/scss/foundation/components/joyride
@import ../../files/bower_components/foundation/scss/foundation/components/keystrokes
@import ../../files/bower_components/foundation/scss/foundation/components/labels
@import ../../files/bower_components/foundation/scss/foundation/components/magellan
@import ../../files/bower_components/foundation/scss/foundation/components/orbit
@import ../../files/bower_components/foundation/scss/foundation/components/pagination
@import ../../files/bower_components/foundation/scss/foundation/components/panels
@import ../../files/bower_components/foundation/scss/foundation/components/pricing-tables
@import ../../files/bower_components/foundation/scss/foundation/components/progress-bars
@import ../../files/bower_components/foundation/scss/foundation/components/range-slider
@import ../../files/bower_components/foundation/scss/foundation/components/reveal
@import ../../files/bower_components/foundation/scss/foundation/components/side-nav
@import ../../files/bower_components/foundation/scss/foundation/components/split-buttons
@import ../../files/bower_components/foundation/scss/foundation/components/sub-nav
@import ../../files/bower_components/foundation/scss/foundation/components/switch
@import ../../files/bower_components/foundation/scss/foundation/components/tables
@import ../../files/bower_components/foundation/scss/foundation/components/tabs
@import ../../files/bower_components/foundation/scss/foundation/components/thumbs
@import ../../files/bower_components/foundation/scss/foundation/components/tooltips
@import ../../files/bower_components/foundation/scss/foundation/components/top-bar
@import ../../files/bower_components/foundation/scss/foundation/components/type
@import ../../files/bower_components/foundation/scss/foundation/components/offcanvas
@import ../../files/bower_components/foundation/scss/foundation/components/visibility

body
  background-color: map-get($color, black)
  color: $font-color-normal

a
  color: $link-color-normal
  text-decoration: underline
  &:visited
    color: $link-color-visited
  &:hover
    color: $link-color-hover
  &:active
    color: $link-color-active
code
  color: map-get($color,green)
  
html, body
  padding: 0

p
  color: $font-color-normal
  
@for $i from 1 through 6
  h#{$i}
    color: $font-color-normal
